<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>index</title>
		<meta name="description" content="" />
		<meta name="author" content="fubuki" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/nanoscroller.css">
		<link rel="stylesheet" type="text/css" href="css/offline-theme-chrome.css">
	</head>
	<body>
		<div id="main">
			<div id="about" class="nano">
				<ul id ="content" class="nano-content" data-bind="template: { name: 'history-template', foreach: historyList }" >


				</ul>	
			</div>
			<div class="message-area">
				<textarea id="text_input" data-bind="event:{keydown:inputMessage}" placeholder ="輸入"></textarea>
			</div>
			
			<footer>
				<p>
					&copy; Copyright  by fubuki
				</p>
			</footer>
		</div>
	</body>

	<script src="scripts/offline.min.js"></script>
	<script  type="text/javascript">
		Offline.options = {checks: {image: {url: 'images/favicon.ico'}, active: 'image'}}
	</script>

	<script src="scripts/jquery.nanoscroller.min.js"></script>
	<script src="scripts/socket.io.js"></script>
	<script src="scripts/jquery.js"></script>
	<script src="scripts/knockout-3.1.0.js"></script>
	<script src="scripts/viewModel.js"></script>
	<script id="history-template" type="text/html">
		<li data-bind="text:$data"></li>
    </script>

</html>
